<!DOCTYPE html>
<html lang="en">
    <head>
        @@include('./snippet/meta.html')
        <title>Title</title>
    </head>

    <body>
        <ol id="example">
            <!-- 插值 Start -->
            <li>{{message}}</li>

            <!-- #文本：通过使用 v-once 指令，你也能执行一次性地插值，当数据改变时，插值处的内容不会更新。但请留心这会影响到该节点上所有的数据绑定 -->
            <li v-once>{{message}}</li>

            <!-- #纯 HTML：双大括号会将数据解释为纯文本，而非 HTML 。为了输出真正的 HTML ，你需要使用 v-html 指令：-->
            <li v-html="rawHtml"></li>

            <!-- #属性：Mustache 不能在 HTML 属性中使用，应使用 v-bind 指令，这对布尔值的属性也有效 —— 如果条件被求值为 false 的话该属性会被移除 -->
            <li>
                <button v-bind:disabled="disabledButton">Button</button>
            </li>

            <!-- # Javascript 表达式
                对于所有的数据绑定，Vue.js 都提供了完全的 JavaScript 表达式支持。
                这些表达式会在所属 Vue 实例的数据作用域下作为 JavaScript 被解析。有个限制就是，每个绑定都只能包含单个表达式。
                模板表达式都被放在沙盒中，只能访问全局变量的一个白名单，如 Math 和 Date 。你不应该在模板表达式中试图访问用户定义的全局变量。
            -->
            <li>{{ number + 1 }}</li>
            <li>{{ disabledButton ? 'YES' : 'NO' }}</li>
            <li>{{ message.split('').reverse().join('') }}</li>
            <li v-bind:id="'list-' + rawId">测试属性中使用 JS 表达式</li>
            <!-- 插值 End -->

            <!-- 过滤器 Start -->
            <!--
                Vue.js 允许你自定义过滤器，被用作一些常见的文本格式化。过滤器应该被添加在 mustache 插值的尾部，由“管道符”指示。
                Vue 2.x 中，过滤器只能在 mustache 绑定和 v-bind 表达式（从 2.1.0 开始支持）中使用，因为过滤器设计目的就是用于文本转换。
                为了在其他指令中实现更复杂的数据变换，你应该使用计算属性
            -->
            <li>{{ message | capitalize }}</li>
            <li v-bind:id="rawId | addSuffix">测试格式化属性值</li>
            <!-- 过滤器可以串联：-->
            <li>过滤器可以串联：{{ message | capitalize | addSuffix}}</li>
            <!--
                过滤器是 JavaScript 函数，因此可以接受参数。这里，字符串 'arg1' 将传给过滤器作为第二个参数，
                arg2 表达式的值将被求值然后传给过滤器作为第三个参数。
            -->
            <li>过滤器可以接受参数：{{ message | addSuffix('+++', url) }}</li>

            <!-- 过滤器 End -->

            <!-- 计算属性 Start -->
            <!--
                在模板中绑定表达式是非常便利的，但是它们实际上只用于简单的操作。在模板中放入太多的逻辑会让模板过重且难以维护。
                这就是为什么任何复杂逻辑，你都应当使用计算属性
            -->
            <li>演示计算属性：{{reversedMessage}}</li>

            <!--
                在这个示例中，使用 watch 选项允许我们执行异步操作（访问一个 API），限制我们执行该操作的频率，
                并在我们得到最终结果前，设置中间状态。这是计算属性无法做到的。watch 更适合双向绑定，用户修改属性值时使用
            -->
            <li>
                Ask a yes/no question:
                <input v-model="question">{{ answer }}
            </li>
            <!-- 计算属性 End -->

            <!-- 指令 Start -->
            <!--
                指令（Directives）是带有 v- 前缀的特殊属性。指令属性的值预期是单一 JavaScript 表达式（除了 v-for，之后再讨论）。
                指令的职责就是当其表达式的值改变时相应地将某些行为应用到 DOM 上
            -->
            <!--
                因为 v-if 是一个指令，需要将它添加到一个元素上。但是如果我们想切换多个元素呢？此时我们可以把一个 <template> 元素当做包装元素，
                并在上面使用 v-if，最终的渲染结果不会包含它。v-else 元素必须紧跟在 v-if 元素或者 v-else-if的后面——否则它不能被识别。
            -->
            <li>
                测试 v-if指令：
                <div v-if="isVisible">isVisible 为 True</div>
                <div v-else-if="isVisible === false">isVisible 为 False</div>
                <div v-else>isVisible 为 undefined</div>

                <!--
                    Vue 尝试尽可能高效的渲染元素，通常会复用（疑问：事件是否被复用？）已有元素而不是从头开始渲染。
                    这么做除了使 Vue 更快之外还可以得到一些好处。如下例，当允许用户在不同的登录方式之间切换，在代码中切换 loginType
                    不会删除用户已经输入的内容，两个模版由于使用了相同的元素，<input> 会被复用，仅仅是替换了他们的 placeholder。
                    这样也不总是符合实际需求，所以 Vue 提供一种方式让你可以自己决定是否要复用元素。你要做的是给添加一个属性 key，
                    key 必须带有唯一的值。注意, <label> 元素仍然会被复用，因为没有被添加了 key 属性。username 以及 mobilePhone 切换时，
                    元素得到复用，切换到 email时，input 元素会被重绘，再次切换到 username 或 mobilePhone，依然会被重绘
                -->
                <template v-if="loginType === 'username'">
                    <label>Username</label>
                    <input placeholder="Enter your username">
                </template>
                <template v-else-if="loginType === 'mobilePhone'">
                    <label>Phone Number</label>
                    <input placeholder="Enter your mobile phone number">
                </template>
                <template v-else>
                    <label>Email</label>
                    <input placeholder="Enter your email address" key="email-input">
                </template>
            </li>

            <!--
                另一个根据条件展示元素的选项是 v-show 指令。不同的是有 v-show 的元素会始终渲染并保持在 DOM 中。
                v-show 是简单的切换元素的 CSS 属性 display。注意 v-show 不支持 <template> 语法。
                v-if 是真实的条件渲染，因为它会确保条件块在切换当中适当地销毁与重建条件块内的事件监听器和子组件。
                v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——在条件第一次变为真时才开始局部编译（编译会被缓存起来）。
                相比之下，v-show 简单得多——元素始终被编译并保留，只是简单地基于 CSS 切换。
                一般来说，v-if 有更高的切换消耗而 v-show 有更高的初始渲染消耗。因此，如果需要频繁切换使用 v-show 较好，
                如果在运行时条件不大可能改变则使用 v-if 较好。
            -->
            <li>
                测试 v-show指令：<div v-show="isVisible">now you see me</div>
            </li>

            <!--
                我们用 v-for 指令根据一组数组的选项列表或对象的属性值列表进行渲染。在 v-for 块中，我们拥有对父作用域属性的完全访问权限。
                你也可以用 of 替代 in 作为分隔符，因为它是最接近 JavaScript 迭代器的语法：
            -->
            <li>
                <h3>测试 v-for 指令：</h3>
                <h5>基本用法：</h5>
                <ul>
                    <li v-for="(item, index) in items">
                        {{ parentMessage }} - {{ index }} - {{ item.message }}
                    </li>
                </ul>

                <!-- 如同 v-if 模板，你也可以用带有 v-for 的 <template> 标签来渲染多个元素块。-->
                <h5>Template：</h5>
                <ul>
                    <template v-for="item in items">
                        <li>{{ item.message }}</li>
                        <li class="divider"></li>
                    </template>
                </ul>


                <!--
                    也可以用 v-for 通过一个对象的属性来迭代。在遍历对象时，是按 Object.keys() 的结果遍历，
                    但是不能保证它的结果在不同的 JavaScript 引擎下是一致的
                -->
                <h5>对象迭代：</h5>
                <ul>
                    <li v-for="(value, key, index) in person">
                        {{ index }}. {{ key }} : {{ value }}
                    </li>
                </ul>

                <!-- 整数迭代，从 1 开始-->
                <h5>整数迭代</h5>
                <div>
                    <span v-for="n in 10">{{ n }}</span>
                </div>

                <!--
                    组件迭代不能自动传递数据到组件里，因为组件有自己独立的作用域。为了传递迭代数据到组件里，我们要用 props。
                    不自动注入 item 到组件里的原因是，因为这使得组件会紧密耦合到 v-for 如何运作。在一些情况下，明确数据的来源可以使组件可重用。
                    当 Vue.js 用 v-for 正在更新已渲染过的元素列表时，它默认用 “就地复用” 策略。如果数据项的顺序被改变，
                    Vue将不是移动 DOM 元素来匹配数据项的顺序，而是简单复用此处每个元素，并且确保它在特定索引下显示已被渲染过的每个元素。
                    这个默认的模式是有效的，但是只适用于不依赖子组件状态或临时 DOM 状态（例如：表单输入值）的列表渲染输出。
                    为了给 Vue 一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素，你需要为每项提供一个唯一 key 属性。
                    理想的 key 值是每项都有唯一 id。这个特殊的属性相当于 Vue 1.x 的 track-by ，但它的工作方式类似于一个属性，
                    所以你需要用 v-bind 来绑定动态值（在这里使用简写）。建议尽可能使用 v-for 来提供 key ，除非迭代 DOM 内容足够简单，
                    或者你是故意要依赖于默认行为来获得性能提升。因为它是 Vue 识别节点的一个通用机制
                -->
                <h5>组件中使用 v-for</h5>
                <input
                    v-model="newTodoText"
                    v-on:keyup.enter="addNewTodo"
                    placeholder="Add a todo">
                <button v-on:click="shuffle">洗牌</button>

                <!--
                    DOM 模版解析说明：
                    当使用 DOM 作为模版时（例如，将 el 选项挂载到一个已存在的元素上）, 你会受到 HTML 的一些限制，
                    因为 Vue 只有在浏览器解析和标准化 HTML 后才能获取模版内容。尤其像这些元素 <ul>，<ol>，<table>，<select>
                    限制了能被它包裹的元素。在这些元素中使用自定义组件会导致渲染错误，变通的方案是使用特殊的 is 属性。
                    应当注意，如果您使用来自以下来源之一的字符串模板，这些限制将不适用：
                    1、<script type="text/x-template">
                    2、JavaScript内联模版字符串
                    3、.vue 组件

                    自定义组件上使用 `v-on` 只会监听自定义事件（即组件用 `$emit` 触发的事件，非 js 原生 API：dispatchEvent）。
                    监听一个原生事件，可以使用 .native 修饰 v-on
                -->
                <ul class="todoItems">
                    <li
                        is="todo-item"
                        v-for="(todo, index) in todos"
                        v-bind:key="todo.id"
                        v-bind:todo="todo"
                        v-bind:index="index"
                        v-on:click.native="console.log('自定义组件触发原生事件')"
                        v-on:remove="spliceTodos(index)"><!-- 该处的处理器函数为父组件中定义，非 todo-item 组件 -->
                    </li>
                </ul>
            </li>

            <!--
                有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或重置原始数据。在这种情况下，可以创建返回过滤或排序数组的计算属性。
                或者，你也可以在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 使用 method 方法：
            -->
            <li>
                <h5>演示过滤／排序结果</h5>
                <h6>通过计算属性</h6>
                <ul>
                    <li v-for="n in evenNumbers">{{ n }}</li>
                </ul>

                <h6>通过 method</h6>
                <ul>
                    <li v-for="n in even(numbers)">{{ n }}</li>
                </ul>
            </li>

            <!-- v-on 指令，它用于监听 DOM 事件，在这里参数是监听的事件名 -->
            <li>
                <!-- 许多事件处理的逻辑都很复杂，所以直接把 JavaScript 代码写在 v-on 指令中是不可行的。因此 v-on 可以接收一个定义的方法来调用 -->
                <h5>演示事件处理器：</h5>
                <h6>方法事件处理器</h6>
                <button v-on:click="greet">方法事件处理器</button>

                <!--
                    除了直接绑定到一个方法，也可以用内联 JavaScript 语句：
                    有时也需要在内联语句处理器中访问原生 DOM 事件。可以用特殊变量 $event 把它传入方法
                -->
                <h6>内联处理器方法</h6>
                <button v-on:click="greet($event)">内联处理器方法</button>

                <!--
                    在事件处理程序中调用 event.preventDefault() 或 event.stopPropagation() 是非常常见的需求。
                    尽管我们可以在 methods 中轻松实现这点，但更好的方式是：methods 只有纯粹的数据逻辑，而不是去处理 DOM 事件细节。
                    .stop：阻止单击事件冒泡
                    .prevent：阻止默认动作
                    .capture：添加事件侦听器时使用事件捕获模式
                    .self：只当事件在该元素本身（而不是子元素）触发时触发回调
                    .once：前四个都是原生 dom 的独有事件, .once 同时能够被用与 component events

                    你可能注意到这种事件监听的方式违背了关注点分离（separation of concern）传统理念。不必担心，
                    因为所有的 Vue.js 事件处理方法和表达式都严格绑定在当前视图的 ViewModel 上，它不会导致任何维护上的困难。
                    实际上，使用 v-on 有几个好处：
                    1、扫一眼 HTML 模板便能轻松定位在 JavaScript 代码里对应的方法。
                    2、因为你无须在 JavaScript 里手动绑定事件，你的 ViewModel 代码可以是非常纯粹的逻辑，和 DOM 完全解耦，更易于测试。
                    3、当一个 ViewModel 被销毁时，所有的事件处理器都会自动被删除。你无须担心如何自己清理它们。
                -->
                <h6>事件修饰符</h6>
                <a href="http://www.baidu.com" v-on:click.stop.prevent="greet">演示修饰符可以串联</a><!-- 修饰符可以串联  -->
                <form v-on:submit.prevent></form><!-- 可以只有修饰符，没有处理器 -->

                <!--
                    在监听键盘事件时，我们经常需要监测常见的键值。Vue 允许为 v-on 在监听键盘事件时添加按键修饰符：
                    记住所有的 keyCode 比较困难，所以 Vue 为最常用的按键提供了别名：
                    .enter
                    .tab
                    .delete (捕获 “删除” 和 “退格” 键)
                    .esc
                    .space
                    .up
                    .down
                    .left
                    .right
                    .ctrl
                    .alt
                    .shift
                    .meta：command key on OSX，windows key on Windows
                -->
                <h6>按键修饰符</h6>
                <input v-on:keyup.13="greet"><!-- Enter 键 -->
                <input @keyup.alt.67="greet"><!-- Alt + C。可以串联，表示多个按键同时激活 -->
                <div @click.ctrl="greet">Ctrl + Click</div><!-- Ctrl + Click -->
            </li>

            <!--
                你可以用 v-model 指令在表单控件元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。
                尽管有些神奇，但 v-model 本质上不过是语法糖，它负责监听用户的输入事件以更新数据，并特别处理一些极端的例子。
                v-model 并不关心表单控件初始化所生成的值。因为它会选择 Vue 实例数据来作为具体的值。
                For languages that require an IME (Chinese, Japanese, Korean etc.), you’ll notice that v-model
                doesn’t get updated during IME composition. If you want to cater for these updates as well,
                use input event instead.
            -->
            <li>
                <h5>表单控件绑定</h5>
                <h6>文本</h6>
                <input v-model="message" placeholder="edit me">
                <p>Message is: {{ message }}</p>

                <h6>多行文本</h6>
                <span>Multiline message is:</span>
                <p style="white-space: pre">{{ message }}</p>
                <!-- 在文本区域插值( <textarea></textarea> ) 并不会生效（textarea 标签没有 value 属性），应用 v-model 来代替 -->
                <textarea v-model="message" placeholder="add multiple lines"></textarea>

                <!-- 如果是单个复选框，且未指定 value 属性，选中后获取到的是逻辑值：true／false-->
                <h6>复选框</h6>
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <br>
                <span>Checked names: {{ checkedNames }}</span>

                <h6>单选按钮</h6>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>Picked: {{ picked }}</span>

                <!--
                    对于单选按钮，勾选框及选择列表选项， v-model 绑定的 value 通常是静态字符串（对于勾选框是逻辑值）：
                    有时我们想绑定 value 到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。
                -->
                <h6>选择列表</h6>
                <select v-model="selected" multiple>
                    <option v-for="option in options" v-bind:value="option">{{option.text}}</option>
                </select>
                <span>Selected: {{ selected }}</span>

                <!--
                    在默认情况下，v-model 在 input 事件中同步输入框的值与数据 (除了 上述 IME 部分)，
                    但你可以添加一个修饰符 lazy ，从而转变为在 change 事件中同步：
                -->
                <h6>.lazy 修饰符</h6>
                <input v-model.lazy="message" >
                <span>{{message}}</span>

                <!--
                    如果想自动将用户的输入值转为 Number 类型（如果原值的转换结果为 NaN 则返回原值），
                    可以添加一个修饰符 number 给 v-model 来处理输入值：
                -->
                <h6>.number 修饰符</h6>
                <input v-model.number="number" type="number">
                <span>typeof: {{typeof number}}</span>

                <!-- 如果要自动过滤用户输入的首尾空格（输入值中间的连续空格也会被过滤，但会保留一位），可以添加 trim 修饰符到 v-model 上过滤输入：-->
                <h6>.trim 修饰符</h6>
                <input v-model.trim="message">
                <span>--{{message}}--</span>
            </li>

            <!--
                组件（Component）是 Vue.js 最强大的功能之一。组件可以扩展 HTML 元素，封装可重用的代码。在较高层面上，组件是自定义元素，
                Vue.js 的编译器为它添加特殊功能。在有些情况下，组件也可以是原生 HTML 元素的形式，以 is 特性扩展。
            -->
            <li>
                <h5>组件</h5>
                <h6>组件中使用 v-model</h6>
                <custom-input v-model="price"></custom-input>
            </li>

            <!-- 不必在全局注册每个组件。通过使用组件实例选项注册，可以使组件仅在另一个实例/组件的作用域中可用： -->
            <li>
                <child></child>
                <child></child>
                <child></child>
            </li>

            <li>
                <h5>异步组件</h5>
                <async-example></async-example>
            </li>

            <li>
                <h5>使用 slot 分发内容</h5>
                <h6>一般插槽</h6>
                <app-layout>
                    <h1 slot="header">这里可能是一个页面标题</h1>
                    <p>主要内容的一个段落。</p>
                    <p>另一个主要段落。</p>
                    <p slot="footer">这里有一些联系信息</p>

                    <!--
                        在父级中，具有特殊属性 scope 的 <template> 元素，表示它是作用域插槽的模板。
                        scope 的值对应一个临时变量名，此变量接收从子组件中传递的 prop 对象：
                    -->
                    <template scope="props">
                        <span>hello from parent</span>
                        <span>{{ props.text }}</span>
                    </template>
                </app-layout>

                <!--
                    在父级中，具有特殊属性 scope 的 <template> 元素，表示它是作用域插槽的模板。
                    scope 的值对应一个临时变量名，此变量接收从子组件中传递的 prop 对象：
                    作用域插槽更具代表性的用例是列表组件，允许在父组件中自定义应该如何渲染列表每一项：
                -->
                <h6>作用域插槽</h6>
                <my-awesome-list :items="items">
                    <!-- 作用域插槽也可以在这里命名 -->
                    <template slot="item" scope="props">
                        <li class="my-fancy-item">{{ props.message }}</li>
                    </template>
                </my-awesome-list>
            </li>

            <!--
                多个组件可以使用同一个挂载点，然后动态地在它们之间切换。使用保留的 <component> 元素，动态地绑定到它的 is 特性：
                如果把切换出去的组件保留在内存中，可以保留它的状态或避免重新渲染。为此可以添加一个 keep-alive 指令参数
            -->
            <li>
                <h5>动态组件</h5>
                <keep-alive>
                    <component v-bind:is="currentView">
                        <!-- 组件在 vm.currentview 变化时改变！ -->
                    </component>
                </keep-alive>
            </li>

            <li>
                <h5>递归组件</h5>
                <recursion-component>
                    <recursion-component slot="foo">递归组件第二层</recursion-component>
                </recursion-component>
            </li>

            <li>
                <h5>x-template</h5>
                <hello-world></hello-world>
            </li>

            <li>
                <h5>性能开销廉价的静态组件</h5>
                <terms-of-service></terms-of-service>
            </li>

            <!--
                Vue 提供了 transition 的封装组件，在下列情形中，可以给任何元素和组件添加 entering/leaving 过渡
                1、条件渲染 （使用 v-if）
                2、条件展示 （使用 v-show）
                3、动态组件
                4、组件根节点
                元素封装成过渡组件之后，在遇到插入或删除时，Vue 将自动嗅探目标元素是否有 CSS 过渡或动画，并在合适时添加/删除 CSS 类名。
                如果过渡组件设置了过渡的 JavaScript 钩子函数，会在相应的阶段调用钩子函数。如果没有找到 JavaScript 钩子并且也没有检测到
                CSS 过渡/动画，DOM 操作（插入/删除）在下一帧中立即执行。(注意：此指浏览器逐帧动画机制，与 Vue，和Vue的 nextTick 概念不同)

                会有 4 个(CSS)类名在 enter/leave 的过渡中切换
                1、v-enter: 定义进入过渡的开始状态。在元素被插入时生效，在下一个帧移除。
                2、v-enter-active: 定义进入过渡的结束状态。在元素被插入时生效，在 transition/animation 完成之后移除。
                3、v-leave: 定义离开过渡的开始状态。在离开过渡被触发时生效，在下一个帧移除。
                4、v-leave-active: 定义离开过渡的结束状态。在离开过渡被触发时生效，在 transition/animation 完成之后移除。

                同时使用 Transitions 和 Animations：
                Vue 为了知道过渡的完成，必须设置相应的事件监听器。它可以是 transitionend 或 animationend ，这取决于给元素应用的 CSS 规则。
                如果你使用其中任何一种，Vue 能自动识别类型并设置监听。但是，在一些场景中，你需要给同一个元素同时设置两种过渡动效，
                比如 animation 很快的被触发并完成了，而 transition 效果还没结束。在这种情况中，你就需要使用 type 特性并设置 animation
                或 transition 来明确声明你需要 Vue 监听的类型。
            -->
            <li>
                <button @click="isVisible = !isVisible">
                    Toggle render
                </button>

                <h5>CSS 过渡：</h5>
                <transition name="slide-fade">
                    <p v-if="isVisible">hello</p>
                </transition>

                <!-- CSS 动画用法同 CSS 过渡，区别是在动画中 v-enter 类名在节点插入 DOM 后不会立即删除，而是在 animationend 事件触发时删除。 -->
                <h5>CSS 动画：</h5>
                <transition name="bounce">
                    <p v-if="isVisible">hello</p>
                </transition>

                <!--
                    我们可以通过以下特性来自定义过渡类名：
                    enter-class
                    enter-active-class
                    leave-class
                    leave-active-class
                    他们的优先级高于普通的类名（所以下面的 name="bounce"不会起作用），这对于 Vue 的过渡系统和其他第三方 CSS 动画库十分有用。
                -->
                <h5>自定义过度类名：</h5>
                <transition name="bounce"
                    appear
                    appear-active-class="animated tada"
                    enter-active-class="animated tada"
                    leave-active-class="animated bounceOutRight"
                >
                    <p v-if="isVisible">hello</p>
                </transition>

                <h5>仅使用 Javascript 过渡，无需 class</h5>
                <transition
                    appear
                    v-on:before-appear="beforeAppear"
                    v-on:appear="appear"
                    v-on:after-appear="afterAppear"
                    v-on:before-enter="beforeEnter"
                    v-on:before-enter="beforeEnter"
                    v-on:enter="enter"
                    v-on:after-enter="afterEnter"
                    v-on:enter-cancelled="enterCancelled"
                    v-on:before-leave="beforeLeave"
                    v-on:leave="leave"
                    v-on:after-leave="afterLeave"
                    v-on:leave-cancelled="leaveCancelled"
                    v-bind:css="false"
                >
                    <p v-if="isVisible">
                        Demo
                    </p>
                </transition>

                <!--
                    有相同标签名的元素切换时，需要通过 key 特性设置唯一的值来标记以让 Vue 区分它们，否则 Vue 为了效率只会替换相同标签内部的内容，
                    过渡不起作用。即使在技术上没有必要，给在 <transition> 组件中的多个元素设置 key 是一个更好的实践。
                -->
                <h5>多个元素的过渡</h5>
                <transition name="bounce">
                    <div v-if="isVisible" key="yes">可见</div>
                    <div v-else key="no">不可见</div>
                </transition>

                <!--
                    在一些场景中，也可以给通过给同一个元素的 key 特性设置不同的状态来代替 v-if 和 v-else，上面的例子可以重写为：
                    使用多个 v-if 的多个元素的过渡可以重写为绑定了动态属性的单个元素过渡
                    一个离开过渡的时候另一个开始进入过渡。这是 <transition> 的默认行为 - 进入和离开同时发生。
                    在元素绝对定位在彼此之上的时候运行正常：
                    同时生效的进入和离开的过渡不能满足所有要求，所以 Vue 提供了 过渡模式
                    in-out: 新元素先进行过渡，完成之后当前元素过渡离开。
                    out-in: 当前元素先进行过渡，完成之后新元素过渡进入。
                -->
                <transition name="bounce" mode="out-in">
                    <div v-bind:key="isVisible">
                        {{isVisible ? '可见' : '不可见'}}
                    </div>
                </transition>

                <!-- 多个组件的过渡很简单很多 - 我们不需要使用 key 特性。相反，我们只需要使用动态组件: -->
                <h5>多个组件的过渡</h5>
                <transition name="bounce" mode="out-in">
                    <component v-bind:is="currentView"></component>
                </transition>
            </li>

            <!--
                那么怎么同时渲染整个列表，比如使用 v-for ？在这种场景中，使用 <transition-group> 组件。
                在我们深入例子之前，先了解关于这个组件的几个特点：
                1、不同于 <transition>， 它会以一个真实元素呈现：默认为一个 <span>。你也可以通过 tag 特性更换为其他元素。
                2、元素 一定需要 指定唯一的 key 特性值
            -->
            <li>
                <h5>列表过渡</h5>
                <button v-on:click="add">Add</button>
                <button v-on:click="remove">Remove</button>
                <transition-group name="list" tag="p">
                    <span v-for="num in numbers" v-bind:key="num" class="list-item">
                      {{ num }}
                    </span>
                </transition-group>

                <!--
                    以上示例，当添加和移除元素的时候，周围的元素会瞬间移动到他们的新布局的位置，而不是平滑的过渡，我们下面会解决这个问题。
                    <transition-group> 组件还有一个特殊之处。不仅可以进入和离开动画，还可以改变定位。要使用这个新功能只需了解新增的 v-move 特性，
                    它会在元素的改变定位的过程中应用。像之前的类名一样，可以通过 name 属性来自定义前缀，也可以通过 move-class 属性手动设置。
                    v-move 对于设置过渡的切换时机和过渡曲线非常有用

                    这个看起来很神奇，内部的实现，Vue 使用了一个叫 FLIP 简单的动画队列，使用 transforms 将元素从之前的位置平滑过渡新的位置。
                    需要注意的是使用 FLIP 过渡的元素不能设置为 display: inline 。作为替代方案，可以设置为 display: inline-block
                    或者放置于 flex 中

                    以下示例，class 中没有使用"-move"后缀了，却一样实现了 v-move 特性，暂时可以得出结论
                    1、当 -move 作为 <transition-group> 的 name 的同名 class 后缀时，v-move 生效，也就是说，v-move 只对 <transition-group>
                    标签下的每行生效，而不是每列
                    2、当我们想实现为一行之内的“无name的元素”实现位移过渡时，直接用其的类名即可，类的写法参考 .list-complete-item，
                    只要包含属性 transition: all 1s; 即可，也可把该属性单独放入带 -move 后缀的 class
                -->
                <h5>列表的位移过渡</h5>
                <button v-on:click="shuffleNumbers">Shuffle</button>
                <button v-on:click="add">Add</button>
                <button v-on:click="remove">Remove</button>
                <transition-group name="list-complete" tag="p">
                    <span v-for="num in numbers" v-bind:key="num" class="list-complete-item">
                      {{ num }}
                    </span>
                </transition-group>

                <h5>多维网格的过渡</h5>
                <button v-on:click="shuffleCells">Shuffle</button>
                <transition-group tag="div" move-class="cell-move" class="sudoku-container">
                    <div v-for="cell in cells" v-bind:key="cell.id" class="cell">
                        {{cell.number}}
                    </div>
                </transition-group>

                <h5>列表的渐进过渡</h5>
                <div id="staggered-list-demo">
                    <input v-model="query">
                    <!-- 此处如果用 ul li 标签，li 会被渲染到当前 li 的外部，成为 <ol id="example"> 的直接子标签。不知为何-->
                    <transition-group
                            name="staggered-fade"
                            tag="p"
                            v-bind:css="false"
                            v-on:before-enter="customBeforeEnter"
                            v-on:enter="customEnter"
                            v-on:leave="customLeave">
                        <div v-for="(item, index) in computedList"
                            v-bind:key="item.msg+'abc'"
                            v-bind:data-index="index">
                            {{ item.msg }}
                        </div>
                    </transition-group>
                </div>

                <!--
                    在 Vue 中即使是过渡也是数据驱动的！动态过渡最基本的例子是通过 v-bind:name 特性来绑定动态值。
                    当你想用 Vue 的过渡系统来定义的 CSS 过渡/动画 在不同过渡间切换会非常有用。所有的过渡特性都是动态绑定。它不仅是简单的特性，
                    通过事件的钩子函数方法，可以在获取到相应上下文数据。这意味着，可以根据组件的状态通过
                    JavaScript 过渡设置不同的过渡效果。
                -->
                <h5>动态过渡</h5>
                <div id="dynamic-fade-demo">
                    Fade In: <input type="range" v-model="fadeInDuration" min="0" v-bind:max="maxFadeDuration">
                    Fade Out: <input type="range" v-model="fadeOutDuration" min="0" v-bind:max="maxFadeDuration">
                    <transition
                        v-bind:css="false"
                        v-on:before-enter="dynamicBeforeEnter"
                        v-on:enter="dynamicEnter"
                        v-on:leave="dynamicLeave"
                    >
                        <p v-if="show">hello</p>
                    </transition>
                    <button v-on:click="stop = true">Stop it!</button>
                    <button v-on:click="show = false; stop = false">start it!</button>
                </div>
            </li>

            <!--
                Vue 的过渡系统提供了非常多简单的方法设置进入、离开和列表的动效。那么对于数据元素本身的动效呢，比如：
                1、数字和运算
                2、颜色的显示
                3、SVG 节点的位置
                4、元素的大小和其他的属性
                所有的原始数字都被事先存储起来，可以直接转换到数字。做到这一步，我们就可以结合 Vue 的响应式和组件系统，
                使用第三方库来实现切换元素的过渡状态。
            -->
            <li>
                <h5>过渡状态</h5>

                <h6>状态动画 与 watcher</h6>
                <div>
                    <input v-model.number="number" type="number" step="20">
                    <p>{{ animatedNumber }}</p>
                </div>

                <!--
                    对于不能直接像数字一样存储的值，比如 CSS 中的 color 的值，通过下面的例子我们来通过 Color.js 实现一个例子：
                -->
                <h6>能直接像数字一样存储的值</h6>
                <div>
                    <input
                        v-model="colorQuery"
                        v-on:keyup.enter="updateColor"
                        placeholder="Enter a color"
                    >
                    <button v-on:click="updateColor">Update</button>
                    <p>Preview:</p>
                    <div
                        v-bind:style="{ backgroundColor: tweenedCSSColor }"
                        style="width: 100px; height: 100px;"
                    ></div>
                    <p>{{ tweenedCSSColor }}</p>
                </div>

                <h6>通过组件组织过渡</h6>
                <input v-model.number="firstNumber" type="number" step="20"> +
                <input v-model.number="secondNumber" type="number" step="20"> =
                <animated-integer v-bind:value="result"></animated-integer>
                <p>
                    <animated-integer v-bind:value="firstNumber"></animated-integer> +
                    <animated-integer v-bind:value="secondNumber"></animated-integer> =
                    <animated-integer v-bind:value="result"></animated-integer>
                </p>
            </li>

            <!--
                如果指令需要多个值，可以传入一个 JavaScript 对象字面量。记住，指令函数能够接受所有合法类型的 Javascript 表达式。
            -->
            <li>
                <h5>自定义指令集</h5>
                <div v-demo:hello.a.b="message"></div>
                <!--<div v-demo="{ color: 'white', text: 'hello!' }"></div>-->
            </li>

            <li>
                <h5>混合</h5>
                <my-mixin></my-mixin>
            </li>

            <li>
                <h5>单文件组件</h5>
                <hello-comp></hello-comp>
            </li>
        </ol>
        @@include('./snippet/script.html')

        <!--
            另一种定义模版的方式是在 JavaScript 标签里使用 text/x-template 类型，并且指定一个id。
            这在有很多模版或者小的应用中有用，否则应该避免使用，因为它将模版和组件的其他定义隔离了。
        -->
        <script type="text/x-template" id="hello-world-template">
            <p>Hello hello hello</p>
        </script>

        <script src="../js/app/vue/bundle.min.js"></script>
    </body>
</html>