@charset "utf-8";
body {
    background: #eee;
}

.flex {
    display: flex;
}

.a {
    background-color: #eeeeee;
    .b {
        height: 20px;
        .c {
            display: block;
        }
    }
}

