<script src="../lib/jquery/3.1.1/jquery.min.js"></script>
<script src="../lib/lodash/4.17.4/lodash.min.js"></script>
<script src="../lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../lib/axios/0.15.3/axios.min.js"></script>
<script src="../lib/velocity/1.4.1/velocity.js"></script>
<script src="../lib//tween/16.6.0/Tween.min.js"></script>
<script src="../lib//color/1.0.1/color.min.js"></script>

<script src="../lib/vue/2.1.10/vue.min.js"></script>
<script src="../lib/vuex/2.1.1/vuex.min.js"></script>