<template>
    <div>
        <p>{{greeting}} World!</p>
    </div>
</template>

<script>
    module.exports = {
        data: function () {
            return {
                greeting: 'Hello ah'
            }
        }
    }
</script>

// 此处必须指定 rel，否则 webstorm 无法识别 scss。
<style lang="scss" scoped rel="stylesheet/scss">
    $fontSize: 16px;
    div {
        width: 400px;
        p {
            background-color: grey;
            width: 200px;
            color: white;
            font-size: $fontSize;
        }
    }
</style>
